<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission
        android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/open_library_logo"
        android:label="Open Library"
        android:roundIcon="@drawable/open_library_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ITRProject_001">

        <activity
            android:name=".SettingsActivity"
            android:exported="false"/>

        <activity
            android:name=".ProfileActivity"
            android:exported="false"/>

        <activity
            android:name=".AIAssistantActivity"
            android:exported="false"/>

        <activity
            android:name=".AboutActivity"
            android:exported="false"/>

        <activity
            android:name=".FavouriteActivity"
            android:exported="false"/>

        <activity
            android:name=".BookDetailsActivity"
            android:exported="false"/>

        <activity
            android:name=".MainActivity"
            android:exported="false"/>

        <activity
            android:name=".RegisterActivity"
            android:exported="false"/>

        <activity
            android:name=".LoginActivity"
            android:exported="false"/>

        <activity
            android:name=".LandingActivity"
            android:exported="false"/>

        <activity
            android:name=".SplashActivity"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN"/>

                <category
                    android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

    </application>

</manifest>